<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 42, height: 28, alt: 'SHW Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 42, height: 28, alt: 'SHW Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <h4 class="pt-2">Material Preparation System</h4>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item" style="padding-right: 5px;">
      <div class="btn btn-sm btn-primary text-light font-weight-bold">
        Version <span class="badge badge-light text-primary ml-1">E210300011</span>
      </div>
    </li>
    <li class="nav-item" style="padding-right: 15px;">
      <div class="btn btn-sm btn-primary text-light font-weight-bold">
        Upload Time <span class="badge badge-light text-primary ml-1">2021-03-16 17:39:09</span>
      </div>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link mr-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <span> Administrator </span>
        <img src="assets\img\avatars\default.png" class="img-avatar" alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <main class="main">
    <cui-breadcrumb> </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <span>Copyright &copy; 2021 SHYANG SHIN BAO INDUSTRIAL CO., LTD. All rights reserved </span>
  <span class="ml-auto">Powered by Team SD3</span>
</app-footer>